

.container {
    position: relative;
    border-radius: 14px;
    overflow: hidden;
}

.image {
    width: 100%;
    border: 7px solid #FDF0E9;
    border-radius: 14px;
    cursor: pointer;
}

.green {
    border: 7px solid #4FE24A;
}

.content {
    position: absolute;
    bottom: 53px;
    left: 48px;
}

.button {
    padding: 9px 16px;
    background-color: #FFFFFF;
    border-radius: 19px;
}

.delete {
    position: absolute;
    top: 53px;
    right: 53px;
    opacity: 0;
    padding: 10px;
    border-radius: 19px;
    transition: opacity .2s linear;
    z-index: 1;
    pointer-events: none;
}

.deleteSelected {
    opacity: 1;
    pointer-events: all;
}

.name {
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 16px;
}